/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0bd2fa;
    color: #e60729;
    padding: 20px;
    position: relative;
    text-align: center;
    
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px; /* Add padding to the logo */
}

nav {
    background-color: #444;
    padding: 10px;
    border: 2px solid #333;
    margin-bottom: 20px;
    text-align: right; /* Align text to the left */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 400px;
}

#column1 {
    background-color: #f0f0f0;
    border: 2px solid #333;
    padding: 20px;
}
#column1.scrollable {
    height: 350px;
    overflow-y: auto; /* Add scrollbar when content exceeds height */
}

#column2 {
    background-image: url('bcimg3.jpg'); /* Replace 'background-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
}

.about-content {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    
    color: #f204ce; /* Text color for better visibility on background */
}


footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}
